
.mobile-nav {
  display: none !important;
}

.desktop-nav nav a {
  position: relative;
}

.desktop-nav nav a:after {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.desktop-nav nav a:hover:after {
  opacity: 1;
}

#menu-btn {
  display: none;
}

.width-60 {
  width: 60%;
}

.width-40 {
  width: 40%;
}

section, section .row-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

section {
  min-height: calc(100vh - 200px);
}

section .row-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 100px 50px;
  min-height: 100%;
}

header.scrolled-header {
  background-color: var(--primary);
  transition: 0.5s ease-in-out;
  box-shadow: 1px 1px 4px 1px #000000;
  max-height: 200px;
} header.scrolled-header .column-container {
  gap: 12px !important;
}

.hero-container {
  min-height: 100vh;;
}

.my-image {
  width: 500px;
  height: 500px;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

ul li {
  opacity: 0;
  transform: translateX(50px);
  animation: fadeInRight 0.8s ease-out forwards;
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}